* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.full-screen-container  {

    background-image: url('images/image.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container {
    background-color: hsla(200, 100%, 6%, 0.3);
    min-width: 400px;
    max-width: 600px;
    
} 

.inner-container {
    margin: 0;
    padding: 40px;
}


.input {
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-size: 2.5em;
    font-weight: normal;

   
}

 li {
    list-style: none;
    font-size: large;
    margin: 0;
}

.title {
    color: white;
    text-align: center;
    margin:20px;
    font-size: 2em; 
    font-weight: normal;
}

.button {
    padding: 0.5em;
    background-color: hsla(200, 100%, 6%, 0.3);
    border: 1px solid hsla(200, 100%, 50%);
    border-radius: 2px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
}

.input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 0.5em;
}

@media only screen and (max-width: 789px) {
    /* For mobile phones: */
    .full-screen-container {
    width: 100vw;
    height: 100vh;
   
    
    
    }
}

@media only screen 
  and (min-device-width: 220px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 0) {

     .container {
        min-width: fit-content;
        max-width: fit-content;
        

}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
      .container {
          width: fit-content;
      }

}